<div class="nav--main">
    <input id="content" name="navMenu" type="checkbox" value="content"<%= ['content', 'contents'].includes(pathCategory) ? ' checked' : ''%>>
    <input id="media-library" name="navMenu" type="checkbox" value="media-library"<%= ['media-library'].includes(pathCategory) ? ' checked' : ''%>>
    <input id="administrator" name="navMenu" type="checkbox" value="administrator"<%= ['administrator'].includes(pathCategory) ? ' checked' : ''%>>
    <ul class="accordion">
        <li>
            <label>
                <a href="/<%= lng %>/dashboard">
                    <%= t('dashboard:Dashboard') %>
                </a>
            </label>
        </li>
        <li>
            <label for="content">
                <%= t('dashboard:Content') %> <i class="fa-solid fa-angle-left"></i>
            </label>
            <ul>
                <li>
                    <a href="/<%= lng %>/contents">
                        <%= t('dashboard:Contents') %>
                    </a>
                </li>
                <li>
                    <a href="/<%= lng %>/content/create">
                        <%= t('dashboard:Create Content') %>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <label for="media-library">
                <%= t('dashboard:Media Library') %> <i class="fa-solid fa-angle-left"></i>
            </label>
            <ul>
                <li>
                    <a href="/<%= lng %>/media-library">
                        <%= t('dashboard:Media Library') %>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <label for="administrator">
                <%= t('dashboard:Administrator') %> <i class="fa-solid fa-angle-left"></i>
            </label>
            <ul>
                <li>
                    <a href="/<%= lng %>/administrator/activity-history">
                        <%= t('dashboard:Activity History') %>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <script>
		(() => {
			const classList = {
				active: 'active',
				open: 'transition--open',
				close: 'transition--close',
			}
			eventListener.onload.add(() => {
				document.querySelector('.navTriggerPoint').addEventListener('click', (evt) => {
					const target = evt.currentTarget
					let targets;
                    const targetName = target.dataset.navtoggle;
					if (targetName) targets = document.querySelectorAll(targetName)
					if (targets && targets.length) {
						targets.forEach(function (target) {
							if (target.classList.contains(classList.open)) {
								target.classList.remove(classList.open);
								target.classList.add(classList.close);
							} else {
								target.classList.remove(classList.close);
								target.classList.add(classList.open);
							}
							target.classList.toggle(classList.active);
						});
					}
				})
			})
		})()
    </script>

</div>
