<div>
    <h2><%= t('media:assets') %></h2>
    <div class="row g-3">
        <%- include('./media-library-assets-asset', {
            thumbnail: 'https://images.unsplash.com/photo-1541363111435-5c1b7d867904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHVtbXl8ZW58MHx8MHx8&auto=format&fit=crop&w=480&q=30',
            filename: 'Folder Name A',
            type: 'Image',
            ext: 'ABC',
            width: 123,
            height: 456,
        }) %>
        <%- include('./media-library-assets-asset', {
            thumbnail: 'https://images.unsplash.com/photo-1659100056660-908218f0affb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=480&q=30',
            filename: 'Folder Name B',
            type: 'Image',
            ext: 'ABC',
            width: 123,
            height: 456,
        }) %>
        <%- include('./media-library-assets-asset', {
            thumbnail: 'https://images.unsplash.com/photo-1525182164759-c4a7ac2616f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=480&q=30',
            filename: 'Folder Name C',
            type: 'Image',
            ext: 'ABC',
            width: 123,
            height: 456,
        }) %>
        <%- include('./media-library-assets-asset', {
            thumbnail: 'https://images.unsplash.com/photo-1596779845699-dc72d45a3a5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=480&q=30',
            filename: 'Folder Name D',
            type: 'Image',
            ext: 'ABC',
            width: 123,
            height: 456,
        }) %>
        <%- include('./media-library-assets-asset', {
            thumbnail: '',
            filename: 'Folder Name E',
            type: 'Image',
            ext: 'ABC',
            width: 123,
            height: 456,
        }) %>
    </div>
</div>
