<h1><%= title %></h1>
<table class="hyper-responsive-table mb-3">
    <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>First Activity</th>
        <th>Last Activity</th>
    </tr>
    </thead>
    <tbody>
    <% list.forEach((data) => { %>
        <tr>
            <td data-header="#">
                <span><%= data.id %></span>
            </td>
            <td data-header="User">
                <span>
                    <span class="position-relative">
                        <%= data.username %>
                        <% if (data.isValid) { %>
                            <span class="badge bg-success">Online</span>
                        <% } %>
                    </span>
                </span>
            </td>
            <td data-header="First Activity">
                <span><%= data.createdAt %></span>
            </td>
            <td data-header="Last Activity">
                <span><%= data.updatedAt %></span>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
<div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
    <div>
        <%= t('tableResults', {from: pagination.from || 1, to: pagination.to, total: pagination.total}) %>
    </div>
    <div class="d-flex flex-wrap justify-content-end gap-2">
        <div class="paginator"></div>
        <div>
            <select name="perPage">
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<script>
    <% const currentPage = pagination.currentPage %>
    <% const lastPage = pagination.lastPage %>
    <% const perPage = pagination.perPage %>
	eventListener.onload.add(() => {
		const params = new URLSearchParams(window.location.search)
		const prePageSwitcher = document.querySelector('select[name="perPage"]')
		prePageSwitcher.value = <%= perPage %>;
		prePageSwitcher.addEventListener('change', (evt) => {
			params.set('perPage', evt.currentTarget.value)
			window.location.search = params.toString()
		})
		const paginator = new Paginator('paginator', {
			parent: '.paginator',
			firstPageString: '<i class="fa-solid fa-angles-left"></i>',
			lastPageString: '<i class="fa-solid fa-angles-right"></i>',
			prevPageString: '<i class="fa-solid fa-angle-left"></i>',
			nextPageString: '<i class="fa-solid fa-angle-right"></i>',
			startForm: <%= currentPage %>,
			maxPage: <%= lastPage %>,
			displayLength: 5,
			eachPageMaxItems: <%= perPage %>,
			pageWording: '<%= t("tablePrePage") %>',
			onClick: function (type, number) {
				params.set('page', number)
				params.set('perPage', <%= perPage %>)
				window.location.search = params.toString()
			},
		})
		paginator.init()
	}, 1)
</script>
