<div class="login">
	<div>
		<h1>
			<%= t('login:Create Account') %>
		</h1>
		<% if (error) { %>
			<div class="alert alert-danger" role="alert">
				<%= error.message %>
			</div>
		<% } %>
		<div>
			<form method="post">
				<div class="mb-3 form-floating">
					<input type="text" class="form-control" id="username" name="username"
						   placeholder="<%= t('login:Username') %>">
					<label for="username"><%= t('login:Username') %></label>
				</div>
				<div class="mb-3 form-floating">
					<input type="password" class="form-control" id="password" name="password"
						   placeholder="<%= t('login:Password') %>">
					<label for="password"><%= t('login:Password') %></label>
				</div>
				<div class="mb-3 form-floating">
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
						   placeholder="<%= t('login:Confirm Password') %>">
					<label for="password"><%= t('login:Confirm Password') %></label>
				</div>
				<div class="mb-3 d-grid">
					<button type="submit" class="btn btn-primary">
						<%= t('login:Create') %>
					</button>
				</div>
			</form>
		</div>
		<div>
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a class="link" href="<%= locateUrl['en'] %>">
						<%= t('lngEN') %>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="link" href="<%= locateUrl['zh-CN'] %>">
						<%= t('lngSC') %>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="link" href="<%= locateUrl['zh-TW'] %>">
						<%= t('lngTC') %>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
