<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | <%= t('AdminPanel') %></title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/rxjs.umd.js"></script>
    <script src="/public/js/app.js"></script>
</head>
<body>
<div class="html">
    <% if (isAuth) { %>
        <div class="header">
            <%- include('./header') %>
        </div>
    <% } %>
    <div class="body">
        <% if (isAuth) { %>
            <div class="nav">
                <%- include('./nav') %>
            </div>
        <% } %>
        <div class="main">
            <%- include('../' + page) %>
        </div>
        <% if (isAuth) { %>
            <div class="aside">
                <%- include('./aside') %>
            </div>
        <% } %>
    </div>
    <% if (isAuth) { %>
        <div class="footer">
            <%- include('./footer') %>
        </div>
    <% } %>
</div>
<script src="/public/js/fontawesome/all.min.js"></script>
</body>
</html>
